<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<body>

<!--Form to save an Artist-->
<form th:fragment="formArtist(artistForm, formId)"
          th:action="@{/artist/save}"
          th:object="${artistForm}"
          th:id="${formId}"
          method="post"
enctype="multipart/form-data">
<!--    /*@thymesVar id="artistForm" type="nl.miwnn.ch19.mart.songscore.dto.ArtistFormDTO" */-->
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{existingImageId}">
        <div th:replace="~{:: formField('name', 'Naam', 'text')}"></div>
        <div th:replace="~{:: formField('bio', 'Omschrijving', 'text')}"></div>
        <div th:replace="~{:: formField('activeSince', 'Actief sinds', 'number')}"></div>
        <div th:replace="~{:: formField('activeUntil', 'Actief tot', 'number')}"></div>
        <div th:replace="~{:: formFileField('Foto van artiest')}"></div>
    </form>

<!--Form to save a Song-->


<!--Een input field voor een form-->
    <div th:fragment="formField(fieldName, labelName, type)"
         th:with="submitted=${#fields.hasErrors('*')}"
         class="form-floating mb-3 has-validation">
        <input th:type="${type}"
               th:id="${fieldName}"
               th:field="*{__${fieldName}__}"
               class="form-control form-control-lg"
               th:classappend="${#fields.hasErrors(fieldName)} ? 'is-invalid' :
                (${submitted} ? 'is-valid' : '')"
               placeholder="John Doe">
        <label th:for="${fieldName}" th:text="${labelName}">Naam input</label>
        <span th:if="${#fields.hasErrors(fieldName)}"
              th:errors="*{__${fieldName}__}"
              class="invalid-feedback"></span>
    </div>

<!--An input field for a file-->
    <div th:fragment="formFileField(labelName)"
         class="mb-3">
        <label for="imageFile" class="form-label text-secondary mb-1" th:text="${labelName}">File upload</label>
        <input type="file" id="imageFile"
               name="imageFile"
               accept="image/*"
               onchange="if(typeof onUploadChosen === 'function') onUploadChosen()"
               class="form-control form-control-lg text-secondary">
    </div>
</body>
</html>