<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta   name="viewport"
            content="width=device-width, initial-scale=1">
    <title th:replace="${title}">SongScore</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" href="/css/RatingForm.css">
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/songscore-logo.png}" alt="SongScore logo" width="36"
                     class="d-inline-block align-text-top">
                SongScore
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page"
                       th:classappend="${activePage == 'songs'} ? 'active' : ''"
                       href="/song/all">Nummers</a>
                    <a class="nav-link"
                       th:classappend="${activePage == 'artists'} ? 'active' : ''"
                       href="/artist/all">Artiesten</a>
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')"
                       th:classappend="${activePage == 'users'} ? 'active' : ''"
                       href="/user/all">Gebruikersbeheer</a>
                </div>
            </div>
            <div class="flex-fill d-flex justify-content-end align-items-center">
                <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn btn-outline-dark btn-sm">Uitloggen</button>
                </form>
                <a th:href="@{/login}" sec:authorize="isAnonymous()">
                    <button class="btn btn-outline-dark btn-sm">Inloggen</button>
                </a>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div th:if="${successMessage}"
             class="alert alert-success alert-dismissible fade show"
             role="alert">
            <span th:text="${successMessage}">Actie geslaagd.</span>
            <button type="button" class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Sluiten"></button>
        </div>
        <div th:if="${errorMessage}"
             class="alert alert-danger alert-dismissible fade show"
             role="alert">
            <span th:text="${errorMessage}">Er is een fout opgetreden.</span>
            <button type="button" class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Sluiten"></button>
        </div>
    </div>
</th:block>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
            th:fragment="footer">
        <div class="col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="/">
                <img th:src="@{/images/songscore-logo.png}" alt="SongScore logo" height="30">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy;SongScore - Mart Stukje 2026</span>
        </div>
    </footer>

    <div th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
        </script>
    </div>
</body>
</html>