<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artiest toevoegen of bewerken - SongScore</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
    <h1>Artiest toevoegen of bewerken</h1>

    <form th:action="@{/artist/save}" th:object="${artist}" method="post">
        <input type="hidden" th:field="${artist.id}">
        <div>
            <label for="name">Naam</label>
            <input type="text" id="name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"
                  class="error">
            </span>
        </div>
        <div>
            <label for="activeSince">Actief sinds</label>
            <input id="activeSince" th:field="*{activeSince}">
            <span th:id="${#fields.hasErrors('activeSince')}"
                  th:errors="*{activeSince}"
                  class="error">
            </span>
        </div>
        <button type="submit">Opslaan</button>
    </form>
</body>
</html>