<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Nummer toevoegen of bewerken - SongScore</title>
</head>
<body>
    <nav th:replace="~{/fragments/general :: navbar}"></nav>

    <div class="container">
        <h1>Nummer toevoegen/bewerken</h1>
            <form th:action="@{/song/save}" th:object="${song}" method="post">
                <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <span th:each="error : ${#fields.globalErrors()}"
                       th:text="${error}"></span>
                </div>
                <input type="hidden" th:field="*{id}">
                <div class="row g-md-5 align-items-md-stretch">
                    <div class="col-md d-flex flex-column">
                        <div th:replace="~{fragments/forms :: formField('title', 'Titel', 'text')}"></div>
                        <div th:replace="~{fragments/forms :: formField('genre', 'Genre', 'text')}"></div>
                        <div th:replace="~{fragments/forms :: formField('year', 'Jaar', 'number')}"></div>
                    </div>
                    <div class="col-md d-flex flex-column">
                        <div class="has-validation d-flex flex-column flex-grow-1">
                            <label for="artists"
                                   class="mb-1 text-secondary">Artiest(en)</label>
                            <select id="artists"
                                    th:field="*{artists}"
                                    class="form-select form-select-lg flex-grow-1"
                                    multiple
                            >
                                <option th:each="artist : ${allArtists}"
                                        th:value="${artist.id}"
                                        th:text="${artist.name}"
                                        class="">
                                </option>
                            </select>
                            <div class="form-text">Houd 'ctrl' of 'cmd' ingedrukt om meerdere artiesten te selecteren.</div>
                            <span th:if="${#fields.hasErrors('artists')}"
                                  th:errors="*{artists}"
                                  class="invalid-feedback d-block"></span>
                        </div>
                    </div>
                </div>

                <button type="submit">Opslaan</button>
            </form>
    </div>

    <footer th:replace="~{/fragments/general :: footer}"></footer>

    <div th:replace="~{/fragments/general :: scripts}"></div>
</body>
</html>