<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Artiestenoverzicht</title>
</head>
<body>
    <nav th:replace="~{/fragments/general :: navbar}"></nav>

    <div class="container">
        <div>
            <h1>Artiesten</h1>
        </div>

        <div class="row g-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex"
                 th:each="artist : ${artists}"
                 th:object="${artist}">
                <a th:href="@{/artist/detail/{artistName}(artistName=*{name})}"
                   class="text-decoration-none text-dark">
                    <div class="card mb-3 w-100">
                        <div class="ratio ratio-16x9">
                            <img th:if="*{image != null}"
                                 th:src="@{/image/{id}(id=*{image.id})}"
                                 class="card-img-top object-fit-cover"
                                 th:alt="*{name}">
                        </div>
                        <div class="card-body">
                            <p th:text="*{name}" class="h5 card-title">Name</p>
                            <p class="card-text">
                                Hier kunnen later enkele bekende nummers of genres die deze artiest speelt komen.</p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    <span th:text="${artist.activeSince}">Year founded</span>
                                    <span th:if="${artist.activeUntil}" th:text="| - ${artist.activeUntil}|"></span>
                                    <span th:unless="${artist.activeUntil}"> - heden</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex" sec:authorize="hasRole('ADMIN')">
                <div class="card mb-3 w-100">
                    <div class="card-body">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#newArtistModal">
                            Nieuwe artiest toevoegen
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th>Artiest</th>
                <th>Actief sinds</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artists}">
                <td th:text="${artist.name}"></td>
                <td th:text="${artist.activeSince}"></td>
                <td>
                    <a th:href="@{/artist/delete/{artistId}(artistId=${artist.id})}">Verwijderen</a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href="@{/artist/add}">Artiest toevoegen</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newArtistModal" tabindex="-1" aria-hidden="true" sec:authorize="hasRole('ADMIN')">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div th:replace="~{fragments/forms :: formArtist(${artistForm}, 'addArtistForm')}"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <button type="submit"
                            form="addArtistForm"
                            class="btn btn-primary">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/general :: footer}"></footer>

    <div th:replace="~{/fragments/general :: scripts}"></div>

    <th:block th:if="${showNewArtistModal}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const modal = new bootstrap.Modal(document.getElementById('newArtistModal'));
                modal.show();
            })
        </script>
    </th:block>

</body>
</html>