<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Nummeroverzicht</title>
</head>

<body>
    <nav th:replace="~{fragments/general :: navbar}"></nav>

    <h1>Nummeroverzicht</h1>

    <form method="get" action="/song/all">
        <input type="text" name="query" id="zoeken"
               th:value="${query}"
               placeholder="Zoek op titel...">
        <button type="submit"><label for="zoeken">Zoeken</label></button>
    </form>

    <div    th:if="${successMessage}"
            class="alert alert-success">
        <span th:text="${successMessage}">Opgeslagen!</span>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Artiest</th>
                <th>Genre</th>
                <th>Jaar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="song : ${songs}">
                <td>
                    <a
                            th:href="@{{artistName}/{title}(artistName=${song.artists[0].name}, title=${song.title})}"
                            th:text="${song.title}">
                        Titel
                    </a>
                </td>
                <td>
                    <span th:each="artist, iterStat : ${song.artists}">
                        <span th:text="${artist.name}"></span><span th:if="!${iterStat.last}">, </span>
                    </span>
                </td>
                <td th:text="${song.genre}"></td>
                <td th:text="${song.year}"></td>
                <td><a th:href="@{/song/edit/{songId}(songId=${song.id})}">Bewerken</a></td>
                <td><a th:href="@{/song/delete/{songId}(songId=${song.id})}">Verwijderen</a> </td>
            </tr>
        </tbody>
    </table>

    <p><a th:href="@{/song/add}">Een nummer toevoegen</a></p>

    <footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>